[submodule "src/betterbar"]
	path = src/betterbar
	url = https://github.com/bbdaniels/betterbar
[submodule "src/makeid"]
	path = src/makeid
	url = https://github.com/bbdaniels/makeid
[submodule "src/knapsack"]
	path = src/knapsack
	url = https://github.com/bbdaniels/knapsack
[submodule "src/txt2qr"]
	path = src/txt2qr
	url = https://github.com/bbdaniels/txt2qr
[submodule "src/forest"]
	path = src/forest
	url = https://github.com/bbdaniels/forest
[submodule "src/outwrite"]
	path = src/outwrite
	url = https://github.com/bbdaniels/outwrite
[submodule "src/dta2kml"]
	path = src/dta2kml
	url = https://github.com/bbdaniels/dta2kml
[submodule "src/sumstats"]
	path = src/sumstats
	url = https://github.com/bbdaniels/sumstats
[submodule "src/crossfold"]
	path = src/crossfold
	url = https://github.com/bbdaniels/crossfold
[submodule "src/statflow"]
	path = src/statflow
	url = https://github.com/bbdaniels/statflow.git
